<ion-header>
  <ion-toolbar>
    <ion-title>
      Crypto Prices
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="cryptoPrices.bitcoin">
    <ion-card-header>
      <ion-card-title>Bitcoin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Current Price: ${{ cryptoPrices.bitcoin.usd }}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="cryptoPrices.ethereum">
    <ion-card-header>
      <ion-card-title>Ethereum</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Current Price: ${{ cryptoPrices.ethereum.usd }}
    </ion-card-content>
  </ion-card>
</ion-content>