<ion-header>
  <ion-toolbar>
    <ion-title>
      Crypto Prices
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Поиск по названию криптовалют -->
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterCryptoPrices()"
    placeholder="Search crypto by name"
    showClearButton="focus"
  ></ion-searchbar>

  <!-- Отображение списка криптовалют -->
  <ion-card *ngFor="let crypto of filteredCryptoPrices | keyvalue">
    <ion-card-header>
      <ion-card-title>{{ crypto.key | titlecase }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Current Price: ${{ crypto.value.usd }}
    </ion-card-content>
  </ion-card>
</ion-content>
