<ion-header>
  <ion-toolbar>
    <ion-title>
      Crypto Prices
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="reloadPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Поиск по названию криптовалют -->
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterCryptoPrices()"
    placeholder="Search crypto by name"
    showClearButton="focus"
  ></ion-searchbar>

  <!-- Кнопка для переключения порядка сортировки -->
  <ion-button (click)="toggleSortOrder()" expand="full" color="primary">
    Sort by Price: {{ sortAscending ? 'Ascending' : 'Descending' }}
  </ion-button>

  <!-- Отображение списка криптовалют -->
  <ion-card *ngFor="let crypto of filteredCryptoPrices">
    <ion-card-header>
      <ion-card-title>{{ crypto.name | titlecase }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Current Price: ${{ crypto.price }}

      <!-- Поле для ввода количества криптовалюты -->
      <ion-item>
        <ion-label position="stacked">Amount to Buy</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="amountToBuy[crypto.name]"
          placeholder="Enter amount"
        ></ion-input>
      </ion-item>

      <!-- Кнопка "Добавить в избранное" -->
      <ion-button
        [color]="isFavorite(crypto.name) ? 'warning' : 'medium'"  
        (click)="toggleFavorite(crypto.name)"
        expand="block"
      >
        {{ isFavorite(crypto.name) ? 'Remove from Favorites' : 'Add to Favorites' }}
      </ion-button>

      <!-- Кнопка для покупки криптовалюты -->
      <ion-button
        color="success"
        (click)="purchaseCrypto(crypto.name)"
        expand="block"
      >
        Buy {{ crypto.name | titlecase }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
